.task{
    display: grid;
    grid-template-columns: auto 30px 30px;
}
.icon{
    background: none;
    border: none;
}
.done{
    text-decoration: line-through;
}
.taskBody{
    display: grid;
    grid-template-columns: 30px auto 105px;
}